.landing_container {
  font-family: 'sans-serif';
  background: linear-gradient(120deg, #f8f8f8 0%, #fff 100%);
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('/logos/Bg.svg');
  
}
.middle_recs{
      display: flex;
  flex-wrap: wrap;
  gap: 40px 32px;
  justify-content: center;
}
.landing_tt{
    text-align: center;
}

.image-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 60px;        
  justify-content: center;
  align-items: flex-start;  
}














