.landing_conatiner{
    /* font-family: 'sans-serif'; */
    background: linear-gradient(120deg, #f8f8f8 0%, #fff 100%);
    min-height: 80vh;
    padding: 3rem 0;
    background-image: url("/logos/Bg.svg");

}
.main_text{
    text-align: center;
}
.middle_section{
    display: flex;
    justify-content: center;
    gap:3rem;
}