
.landing__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #ececec;
  position: sticky;
  top: 0;
}

.landing__nav-brand {
  display: flex;
  align-items: center;
  gap: 15px;
}

.landing__nav-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.landing__nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav__link {
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.nav__cta {
  background: #102334;
  color: #fff;
  padding: 0.5rem 1.3rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
}


@keyframes rotateLogo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.nav-logo {
  height: 80px;
  width: auto;
  display: block;
  object-fit: contain;
  /* vertical-align: middle; */
  animation: rotateLogo 8s linear infinite; /* Slow continuous rotation */
}



@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-35px);
  }
  60% {
    transform: translateY(-25px);
  }
}

.nav-logo:hover {
  animation: bounce 1s;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  cursor: pointer;
}
